@charset ("utf-8");

@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800"); /* Open Sans de Google Fonts */

a {
   padding: 8px 0;
}
body {
   font-family: Open Sans, Helvetica, Arial;
   font-size: 14px;
   margin: 0;
}
h1 {
   color: #fff;
   font-size: 18px;
   margin: 0;
   text-align: center;
   text-transform: uppercase;
}
header {
   background: #222;
   padding: 10px 0;
   width: 100%;
}
li {
   color: #fff;
   list-style: none;
   padding: 12px;
}
li:hover {
   background: rgba(0,0,0,.25);
}
nav {
   background: #08c;
   text-align: center;
   width: 100%;
}
ul {
   margin: 0;
   padding: 0;
}

/* Aquí viene la magia */

/* En resoluciones mayores a 450px */
@media screen and (min-width: 450px) {
   a {
      display: none;
   }
   li {
      display: inline-block;
   }
   ul {
      display: block !important;
   }
}

/* En resoluciones menores a 450px */
@media screen and (max-width: 449px){
   a {
      display: block;
   }
   li {
      display: block;
   }
}